.cart-item{
    width: 310px;
    border: 1px solid rgb(238, 238, 238);
}
.cart-item.dark{
    width: 310px;
    border: 1px solid rgb(128, 128, 128);
}
.cart-item .image-place{
    width: 100%;
    height: 280px;
    border-bottom: 1px solid rgb(214, 214, 214);
}
.cart-item .image-place{
    width: 100%;
    height: 280px;
    border-bottom: 1px solid rgb(214, 214, 214);
}
.cart-item .image-place img{
    width: 100%;
    height: 100%;
    transition: transform .3s;
    cursor: pointer;
}
.cart-item .image-place img:hover{
    transform: scale(1.1);
}

.cart-item .textures{
    width: 90%;
    margin: 0 auto;
    padding: 15px 0;
}
.cart-item .textures p{
    margin: 5px 0;
}
.cart-item .textures .category{
    color: rgb(107, 114, 128);
}
.cart-item.dark .textures .category{
    color: #fff;
}
.cart-item .textures .title a{
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.cart-item .textures .title a:hover{
    text-decoration: underline;
}
.cart-item.dark .textures .title a{
    color: #fff;
}
.cart-item .textures .price-buy{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-item .textures .price-buy .prices .new-price{
    color: rgb(59, 130, 246);
    font-size: 1.1rem;
}
.cart-item .textures .price-buy .prices .old-price del{
    color: rgb(107, 114, 128);
}
.cart-item .textures .price-buy .prices .old-price{
    font-size: 1rem;
}
.cart-item.dark .textures .price-buy .prices .old-price b{
    color: #fff;
}
.cart-item .textures .buy-cart{
    width: 160px;
    height: 35px;
    text-transform: uppercase;
    border: none;
    outline: none;
    background-color: rgb(236, 72, 153);
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background .2s;
}
.cart-item .textures .buy-cart:hover{
    background-color: rgb(59, 130, 246);
}

