.banner{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.418);
    z-index: 2;
}
.banner .container {
    width: 650px;
    height: 400px;
    position: relative;
}
.banner .container .close-btn{
    display: flex;
    padding: 5px 5px;
    font-size: 1.7rem;
    background-color: white;
    border-radius: 50%;
    border: none;
    align-items: center;
    cursor: pointer;
    top: 5px;
    right: 5px;
    position: absolute;
    color: rgb(149,149,149);
}
.banner .container .close-btn:hover{
    background-color: rgb(236, 236, 236);
}
.banner .container .banner-img{
    width: 100%;
    height: 100%;
}

